In [1]:
import pandas as pd
import ivy
import ivy.functional as F

In [20]:
# Loading train and test data
df = pd.read_csv("USA_Housing.csv")
df.head()

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price,Address
0,79545.458574,5.682861,7.009188,4.09,23086.800503,1.059034e+06,"208 Michael Ferry Apt. 674\nLaurabury, NE 3701..."
1,79248.642455,6.002900,6.730821,3.09,40173.072174,1.505891e+06,"188 Johnson Views Suite 079\nLake Kathleen, CA..."
2,61287.067179,5.865890,8.512727,5.13,36882.159400,1.058988e+06,"9127 Elizabeth Stravenue\nDanieltown, WI 06482..."
3,63345.240046,7.188236,5.586729,3.26,34310.242831,1.260617e+06,USS Barnett\nFPO AP 44820
4,59982.197226,5.040555,7.839388,4.23,26354.109472,6.309435e+05,USNS Raymond\nFPO AE 09386

In [21]:
df.shape

(5000, 7)

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 7 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Avg. Area Income              5000 non-null   float64
 1   Avg. Area House Age           5000 non-null   float64
 2   Avg. Area Number of Rooms     5000 non-null   float64
 3   Avg. Area Number of Bedrooms  5000 non-null   float64
 4   Area Population               5000 non-null   float64
 5   Price                         5000 non-null   float64
 6   Address                       5000 non-null   object
dtypes: float64(6), object(1)
memory usage: 273.6+ KB

The above dataset has null entries which can be dealt with in many different ways. For this sample, for the sake of proof of concept and simplicity, we will just ignore features with any null values.

In [36]:
output_col = [df.columns[-2]]
input_col = df.columns[0:4]

In [37]:
def dataframe_to_array(dataset):
    fd = df.copy(deep = True)
    
    inputs_array = df[input_col].to_numpy()
    targets_array = df[output_col].to_numpy()
    return inputs_array, targets_array.reshape((5000, 1))

In [38]:
inputs_array, targets_array = dataframe_to_array(df)
inputs_array, targets_array

(array([[7.95454586e+04, 5.68286132e+00, 7.00918814e+00, 4.09000000e+00],
        [7.92486425e+04, 6.00289981e+00, 6.73082102e+00, 3.09000000e+00],
        [6.12870672e+04, 5.86588984e+00, 8.51272743e+00, 5.13000000e+00],
        ...,
        [6.33906869e+04, 7.25059061e+00, 4.80508098e+00, 2.13000000e+00],
        [6.80013312e+04, 5.53438842e+00, 7.13014386e+00, 5.44000000e+00],
        [6.55105818e+04, 5.99230531e+00, 6.79233610e+00, 4.07000000e+00]]),
 array([[1059033.55787012],
        [1505890.91484695],
        [1058987.98787608],
        ...,
        [1030729.58315229],
        [1198656.87240769],
        [1298950.48026696]]))

### Converting the input numpy arrays to ivy arrays

In [ ]:
inputs = ivy.array()